html {
    overflow-x: hidden;
}

body {
    background-image: url(../imgs/fundo_cidade.png);
    background-size: cover;
}

/*botão empresa ajuda e doações*/
.botao {
    border: none;
    background-color: transparent;
    color: white;
    position: relative;
    left: 5%;
    top: 40px;
    font-size: x-large;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}


/*botão de login e quero ser comunitario */
.btn {
    background-color: transparent;
    color: white;
    border-radius: 3.125rem;
    border-color: white;
    position: relative;
    left: 35%;
    top: 2.5rem;
    height: 3.125rem;
    width: 12.5rem;
    font-size: 15px;
}

/* texto venha ser comunitario*/
.texto {
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 12.5rem;
    left: 4.375rem;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}

/* botão quero ser comunitario laranja*/
.btn2 {
    background-color: #FF7B1C;
    color: white;
    width: 18.75rem;
    height: 4.375rem;
    border-radius: 30px;
    font-size: 1.125rem;
    font-weight: bold;
}

nav {
    position: relative;
    margin-left: 5%;
}
